In [1]:
import pandas as pd
import numpy as np
import itertools

In [2]:
df_text = pd.read_csv("input.txt", names =['text'])

**Deel 1**

In [3]:
display(df_text)

                              text
0                      3-4 t: dttt
1               5-7 l: llmlqmblllh
2     3-10 g: gggxwxggggkgglklhhgg
3                  5-7 d: zxhddvxd
4             5-12 s: sgscssssphxs
..                             ...
995      8-12 l: lllllhlllvlllllll
996        4-13 g: gggwgjlvmqgdgfg
997         5-7 v: wvkkvbvcrvtvvmh
998       14-15 h: hhhhhhhhhhhhhjh
999  14-16 p: tpkppppppppppppppppp

[1000 rows x 1 columns]

In [4]:
df_text['text'] = df_text['text'].str.replace('-', ' ')
df_text['text'] = df_text['text'].str.replace(':', '')

In [5]:
df = pd.DataFrame(df_text.text.str.split(expand=True))
df.columns = ['min', 'max', 'letter', 'ww']

In [44]:
df['min'] = pd.to_numeric(df['min'])
df['max'] = pd.to_numeric(df['max'])

In [67]:
display(df)

     min  max letter                    ww  count  lengte letter_1 letter_2
0      3    4      t                  dttt      3       4        t        t
1      5    7      l           llmlqmblllh      6      11        q        b
2      3   10      g  gggxwxggggkgglklhhgg     11      20        g        g
3      5    7      d              zxhddvxd      3       8        d        x
4      5   12      s          sgscssssphxs      7      12        s        s
..   ...  ...    ...                   ...    ...     ...      ...      ...
995    8   12      l     lllllhlllvlllllll     15      17        l        l
996    4   13      g       gggwgjlvmqgdgfg      7      15        w        g
997    5    7      v       wvkkvbvcrvtvvmh      6      15        v        v
998   14   15      h       hhhhhhhhhhhhhjh     14      15        j        h
999   14   16      p  tpkppppppppppppppppp     18      20        p        p

[1000 rows x 8 columns]

In [14]:
count = []
for index, row in df.iterrows():
    count.append(row['ww'].count(row['letter']))
df['count'] = count

In [46]:
result1 = len(df.loc[(df['count']>= df['min']) & (df['count'] <= df['max']),:])

In [47]:
print(result1)

586

**Deel 2**

In [61]:
lengte = []
for index, row in df.iterrows():
    lengte.append(len(row['ww']))
df['lengte'] = lengte

In [65]:
l1 = []
l2 = []
for index, row in df.iterrows():
    l1.append(row['ww'][row['min'] - 1])
    l2.append(row['ww'][row['max'] - 1])
df['letter_1'] = l1
df['letter_2'] = l2

In [74]:
result2 = len(df.loc[(((df['letter'] == df['letter_1']) & (df['letter'] != df['letter_2'])) | ((df['letter'] != df['letter_1']) & (df['letter'] == df['letter_2']))),:])

In [75]:
print(result2)

352